:root {
    --primaryColor: white;
    --secondaryColor: #57b6ef;
    --textColor: black;
}

.navbar-light,
.yui3-widget-content-expanded,
.card-header,
tbody,
td,
tr {
    background: var(--secondaryColor) !important;
    color: var(--textColor) !important;
}

.moodle-dialogue-hd {
    background: var(--textColor) !important;
}

#page-wrapper {
    background: var(--primaryColor) !important;
    color: var(--textColor) !important;
}

.site-name {
    display: none;
    background: none;
}

.page-context-header {
    display: block
}

.pull-xs-left,
#nav-drawer,
.navbar-brand {
    display: none !important;
}

.dropdown-menu,
body,
html {
    background: var(--primaryColor) !important;
}

a {
    color: var(--textColor) !important;
}

.no-overflow {
    display: flex !important;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: var(--textColor) !important;
}

.active,
.btn-default {
    color: var(--textColor) !important;
    background-color: var(--secondaryColor) !important;
}

.pagination {
    display: none !important;
}

.block_calendar_month {
    display: none !important;
}

.card-block {
    background: var(--primaryColor) !important;
}

.navbar {
    max-height: 100vh !important;
}

.PMISintro {
    font-size: 20px;
    max-width: 700px;
    position: absolute;
}

.box,
.popover {
    background-color: var(--primaryColor) !important;
}

.hasevent {
    background-color: var(--secondaryColor) !important;
}

.insertVideo {
	z-index: -99;
}