:root {
    --primaryColor: white;
    --secondaryColor: #57b6ef;
    --textColor: black;
}

.navbar-light,
.yui3-widget-content-expanded,
.card-header,
tbody,
td,
tr,
#course-info-container-70,
#nav-drawer,
.odd {
    background: var(--secondaryColor) !important;
    color: var(--textColor) !important;
    border-color: var(--secondaryColor) !important;
}

#inst4,
#inst5,
#inst6,
#nav-notification-popover-container,
.moodle-dialogue-exception {
    display: none;
}

body,
.list-group-item {
    background: var(--primaryColor) !important;
    color: var(--textColor) !important;
    border-color: var(--secondaryColor) !important;
}

.site-name {
    display: none;
    background: none;
}

.page-context-header {
    display: block
}

.navbar-brand {
    display: none !important;
}

.dropdown-menu,
body,
html,
.even {
    background: var(--primaryColor) !important;
}

a {
    color: var(--textColor) !important;
    background: none !important;
    cursor: pointer !important;
}

.col-xs-12 a {
    font-weight: bold !important;
}

.no-overflow {
    display: flex !important;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: var(--textColor) !important;
}

.active,
.btn-default {
    color: var(--textColor) !important;
    background-color: var(--secondaryColor) !important;
}

.pagination,
.block_calendar_month,
footer {
    display: none !important;
}

.card-block {
    background: var(--primaryColor) !important;
    border-radius: 20px;
}

.navbar {
    max-height: 100vh !important;
}

.box,
.popover {
    background-color: var(--primaryColor) !important;
}

.hasevent {
    background-color: var(--secondaryColor) !important;
}

.page-context-header {
    display: none !important;
}

#insertVideo {
    top: 0;
    width: 100%;
    z-index: -1;
    position: absolute !important;
}

body {
    background: none !important;
}

.card,
.course-content,
.section-summary,
li.section.main {
    border-color: var(--secondaryColor) !important;
    background: var(--primaryColor) !important;
}

.contentBar {
    display: flex;
    flex-wrap: wrap;
}

.flashTitle {
    font-size: 40px;
}

article {
    max-width: 380px;
    text-align: center;
    background: var(--secondaryColor) !important;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
}

article p {
    font-size: 17px;
}

.articleTitle {
    font-size: 30px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--textColor);
}

.title {
    font-size: 100px;
    padding-top: 0px;
    margin-top: -180px;
}

#inst375 a {
    font-weight: normal !important;
}